<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>

  <script src="main.js", type="module"></script>

  <style>
    [v-cloak] {
      display: none;
    }
  </style>

</head>
<body>
  <div id="app">
    <h1>Agenda de contatos</h1>

    <input type="text" v-model="search">


    <div id="results">
      <div v-show="isContactsLoaded & (contactList.length === 0)" v-cloak>
        Nenhum contato encontrado!
      </div>  

      <div v-for="contact, index in contactList">
        <img :src="contact.picture" :alt="contact.firstName">

        <div>
          <address v-cloak>
            <p>{{ contact.firstName }} {{ contact.lastName }}</p>
            <p>Email: {{ contact.email }}</p>
            <p>Cidade: {{ contact.city }}</p>
          </address>
          <button @click="removeContact(index)">Remover</button>
        </div>

      </div>
    </div>

  </div>

</body>
</html>